:root {
    --primary-color: #0F1C23;  
    --secondary-color: #EB8317;
    --third-color: #081014;
    --text-color: #AD852F;  
    --text-color-2: #916d21;                  
    --secondary-background-color: #142a37;  
    --background-color: #e1e4f3; 
}

body {
    background-image: none;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-links a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
}

.footer-info p {
    margin: 10px 0;
    font-size: 0.9em;
}

.fav {
    font-size: 25px;
    color: var(--text-color);
    margin-left: 190px;
    
}

.search-section {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    box-shadow: none;
    width: 650px;
}

.search-box input{
    border-radius: 100px;
    font-size: large;
    padding: 17px;
}

.search-box i {
    font-size: x-large;
    margin-top: 20px;
    transform: translateX(-70px);
}